<%- include("header") -%>
<form action="/<%=username%>" method="get">
    <button type="submit">Home</i></button>
</form>
<h1>About</h1>
<p>This site is used for hosting polls online. Not only that, our web app is fully capable of predicting the winner of the polls.
    You can also use it to play with your friends, anyone can create an account. Apart from the functionality we can also garauntee you
    that we provide the best level of security of your data. Data includes things like, comments you made, your login password, your 
    poll key. We have tried our best to give our users the best experience out of this.
</p>
<%- include("footer") -%>