<%- include("header") -%>
 <!-- ABOUT -->
  <div class="about-section">
    <h2 class="about">About Website</h2>
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <p class="about-desc">Welcome you to a portal where you can have fun, where you can also take important decisions, you can also use this portal for purpose of analysis and many more other things. </p>
      </div>
      <div class="col-lg-3 col-md-6">
        <p class="about-desc">You can create your own polls, you can vote on public polls and all this is done in a very secure way.</p>
      </div>
      <div class="col-lg-3 col-md-6">
        <p class="about-desc">We are taking care of security of your data, your selections and also maintaining privacy of the comments that you make.</p>
      </div>
      <div class="col-lg-3 col-md-6">
        <p class="about-desc">Conducting elections on a booth is a good idea but it involves lot of man power and wealth. This website can be efficient for election purpose.</p>
      </div>
    </div>
  </div>
<%- include("footer") -%>