<div class="footer">
    <h3 class="footer-header">Get the mobile app now</h3>
    <button type="button" name="button" class="btn btn-dark footer-btn"><i class="fab fa-apple"></i> Download</button>
    <button type="button" name="button" class="btn btn-outline-dark footer-btn"><i class="fab fa-google-play"></i> Download</button>
    <p class="copyright"><i class="far fa-copyright"></i> Pratik Yadav 2023</p>
  </div>
</body>

</html>