.loginMain{
    background-color: #013A6B;
    background-image: -webkit-linear-gradient(30deg, white 50%, #004E95 50%);
    height: 43.4rem;
}
.login-div{
    position: relative;
    left: 20%;
    width: 40%;
}
.loginBtn{
    position: relative;
    top: 2rem;
    left: 1.5rem;
    width: 12rem;
}
.regBtn{
    width: 12rem;
    position: relative;
    top: 4rem;
    left: 1.5rem;
}
.field{
    width: 15rem;
    height: 2.5rem;
    text-align: center;
}
.navbar-brand{
    letter-spacing: 7px;
    font-family: 'Roboto Slab', serif;
    position: relative;
    left: 80px;
    border-radius: 5%;
    text-align: center;
    width: 10%;
}
.logo-text{
    color: #3590c4;
    font-size: 3rem;
}
.header{
    color: white;
    position: relative;
    left: 50rem;
    top: 9rem;
    font-size: 2rem;
    width: 30%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1rem;
    font-weight: 500;
}